.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.vide-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.video-detail .details .header{
  font-size: large;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.video-detail .details .body{
  font-size: 15px;
  text-align: justify;
}

.list-group-item {
  cursor: pointer;
  margin-bottom: 10px !important;
  border-radius: 4px !important;
  padding: .50rem .50rem !important;
}


.list-group-item:hover {
  background-color: #eee;
}